# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel

# dev
/data.json
/pnpm-lock.yaml
.idea
.vscode


# sitemap
/public/robots.txt
/public/sitemap.xml
/public/rss/*
/sitemap.xml

# yarn
package-lock.json
# yarn.lock
# 忽略父目录下的所有内容
themes/**
# 排除a和b目录本身
!themes/easy/
!themes/next/
!themes/simple/
# 确保a和b目录下的所有内容不被忽略
!themes/easy/**
!themes/next/**
!themes/simple/**